
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}
.card_body::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .card_body::-webkit-scrollbar-track {
    background: gold;
  }
  /* Handle */
  .card_body::-webkit-scrollbar-thumb {
    background:yellow;
  }
  /* Handle on hover */
  .card_body::-webkit-scrollbar-thumb:hover {
    background: #f0f;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
 ::-webkit-scrollbar-track {
    background: rgb(56, 55, 54);
  }
  
  /* Handle */
 ::-webkit-scrollbar-thumb {
    background:rgb(102, 102, 99);
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 83, 88);
  }
.modal4{
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 55vh;
    background-color: darkseagreen;
    display: none;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 5%;
}
.card_body {
    width: 100%;
    overflow-y: scroll;
}
.del{
    position: absolute;
    margin-left: 97%;
    width: 3vw;
    height: 3vh;
  font-size: 20px;
border: none;
background: none;
}
.del:hover{

    color: red;
}
.navbar-expend-lg{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 12;
}
.navbar-nav{
    margin: auto;
    margin-right: 20px;
}
.navbar-brand{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(to top left,
rgba(0, 0, 0, .2),
rgba(0, 0, 0, .2) 30%,
rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
                background-color: rgba(220, 0, 0, 1);
}
.collapse{
    font-family: 'Work Sans';
font-weight: 500;
font-size: 16px;
letter-spacing: 0.045em;
}
.h5_one{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
color: #98A2B3;
margin-left: 10%;
margin-top: 10%;
min-width: 300px;
}
.h1_one{
    width: 50%;
    height: 10vh;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-left: 10%;
}
.p_one{
    width:50%;
    height:10vh;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    color: #475467;
    margin-left: 10%;
}
    .styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: black;
        background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
    }    
    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
                    background-color: rgba(220, 0, 0, 1);
    }
.button11{
    display: flex;
    gap: 30px;
    margin-left: 10%;
}
.p_two{
    width: 130px;
    height: 40px;
    font-family: 'Work Sans';
    font-size: 16px;
    color: #101828;
    border-radius: 10px;
    border: none;
}
.bigimg{
    display: flex;
    gap: 45px;
    margin-top: 25px;
    margin-left: 10%;
}
.oneminimg{
    display: flex;
}
.oneminimg img{
    width: 60px;
    height: 60px;
}

.minimg_p{
    width: 101px;
    height: 57px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: block;
    align-items: center;
    color: #101828;
  }
  .minimg_p span{
    font-size: 15px;
    color: #444E62;
    display: flex;
  }
.photo{
    width: 300px;
    height: 300px;
}
header{
    display: flex;
    justify-content: center;

}
.bigphoto{
    margin-right: 40%;
    margin-top: 10%;
    position: relative;
}
.photo2{
    position: absolute;
    top: 170px;
    left: 180px;
}
.one_page{
    margin: 0 auto;
    width: 80%;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mincard{
    display: flex;
    /* width: 50%; */
    height: 125px;
    background-color: #E4E7EC;
    border-radius: 10px;
    margin-top: 20px;
}

.mincard img{
    margin: auto;
}
.h5_text{
    width: 218px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
color: #323A4B;
}
.price{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
color: #101828;
}
/* .two_page{} */
.h1_text{
    width: 477px;
    margin: auto;
    margin-top: 160px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
}
/* .bigcard{} */
.min_card{
    margin: 0 auto;

    display: block;
    border: 1px solid #E4E7EC;
    /* box-shadow: 0px 0px 10px 10px ; */
    border-radius: 10px;
    margin-top: 50px;
}
.min_card:hover{
    transform: scale(1.07);
}
.min_card img{
    width: 140px;
    height: 159px;
    border-radius: 10px;
}
.card_name{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px; 
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #576071;
}
.card_text{
    width: 218px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #323A4B;
    margin-left: 10px;
}
.card_price{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #006D77;
    margin-left: 10px;
}
.card_button{
    width: 67px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #006D77;
    border: 1px solid #006D77;
    border-radius: 5px;
    margin-left: 70%;
}
.card_button:active{
    color: black;
    font-size: 17px;
    background-color:#006D77 ;
}
.h2_three_page{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 50px;
color: #101828;
text-align: center;
margin-top: 2%;
}
.p_three_page{
    width: 522px;
    font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.045em;
color: #475467;
text-align: center;
margin-top: 25px;
}
.half_left{
    /* width: 35vw; */
    
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 16%;
    margin-top: 4%;
}
.h2-1-three_page{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #323A4B;
    margin-top: 40px;
    margin-left: 30px;
}
.p-1three_page{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    margin-top: 40px;
    margin-left: 30px;
}

.df{
    width: 441px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.circle{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#006D77;
}
.big_half{
  margin: 0 auto;
    justify-content: center;
    display: flex;

}
.half_right{
  
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    margin-right: 15%;
    margin-top: 4%;
}
.min-half_right{
    width: 285px;
    height: 96px;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 3vw;
}
.min-half_right1{
    width: 285px;
    height: 96px;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 58%;
   
}
.min-half_right:hover{
    transform: scale(1.07);
}
.circle2{
    width: 46px;
    height: 46px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006D77;
    background-color: #CEE5D9;
    margin:  auto;
}
.p-2three_page{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #323A4B;
    margin: auto;
    padding-right: 20px;
}
.button-three_page{
    width: 165px;
    height: 36px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #E29578;
    border-radius: 10px;
    background-color: #FFF3EA;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 8%;
}
.button-three_page:active{
    color: black;
    background-color: #E29578;
}
.h2-2four_page{
    width: 659px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 50px;
color: #101828;
text-align: center;
margin-top: 5%;
}
.four_card{
    margin-top: 5%;
    width: 285px;
    height: 320px;
    background-color: pink;
    border-radius: 10px;
    margin-top: 6.3%;
}
.four_card:hover{
    transform: scale(1.07);
}
.big-card-four_page{
    flex-wrap: wrap;
    justify-content: center;
    width: 58%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 0 auto;
grid-template-columns: auto auto;
}
.circle3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
}

.h3-1four_page{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #1E2534;
text-align: center;
padding-top: 20px;
}
.p-1four_page{
    width: 117px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #667085;
text-align: center;
margin: auto;
padding-top: 35px;
}
.p-2four_page{
    width: 143px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
color: #667085;
margin: auto;
padding-top: 20px;
}
.four_1card{
    margin-top: 4%;
    width: 285px;
    height: 320px;
    background: #DBECE5;
    border-radius: 10px;
    margin-top: 20px;
}
.four_1card:hover{
    transform: scale(1.07);
}
.four_2card{
    margin-top: 8%;
    width: 285px;
    height: 320px;
    background: #DBECE5;
    border-radius: 10px;
    /* margin-top: 20px; */
}
.four_2card:hover{
    transform: scale(1.07);
}
.p-1four_page{
    width: 110px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #667085;
}
.four_2card{
    width: 285px;
    height: 320px;
    background: #DBECE5;
    border-radius: 10px;

}
.fife_page{
    margin-top: 10%;
}
.backgraund_blue{
    width: 60vw;
    height: 45vh;
    background: #006D77;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
border-radius: 15px;
margin: auto;
}
.h3-fife_page{
    width: 501px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 50px;
color: #FFFFFF;
margin-left: 10%;
padding-top: 10%;
}
.p-fife_page{
width: 485px;   
font-family: 'Merriweather';
font-weight: 300;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
margin-left: 10%;
padding-top: 11px;
}
.in-btn{
    margin-left: 10%;
    padding-top: 11px;
    position: relative;
}
#one{
    width: 360px;
    height: 59px;
    background: #FFFFFF;
box-shadow: 0px 0px 11px 1px rgba(194, 194, 194, 0.06);
border-radius: 53px;
border: none;
}
.btn-fife_page{
    width: 42px;
    height: 42px;
    background: #006D77;
box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
border-radius: 50%;
border: none;
color: white;
position: absolute;
left: 310px;
top: 20px;
}
.backgraund_blue{
    display: flex;
  
}
.img_fife_page{
    position: relative;
    width: 100vw;
    height: 20vh;
}
#img_people{
    position: absolute;
    width: 400px;
    height: 50vh;
 
    top: 58px;
    left: 200px;
}
#img_number{
    position: absolute;
    left: 30px;
    top: 201px;
}
.bigacrd{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 7%;
}
footer{
    margin-top: 10%;
}
.las_img{
    display: flex;
}
.logo-last{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #101828;
    padding-left: 10px;
}
.las_text{
    display: flex;
}
.footer_top {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.last-p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #101828;
padding-top: 10px;
}
.last-btn{
    width: 180px;
    height: 45px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #101828;
    border-radius: 35px;
    border: none;
    margin-left: 20px;
}
.last-btn:active{
    background-color: #006D77;
}
.last-h5{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #101828;
}
.last-p1{
    width: 204px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
letter-spacing: 0.02em;
color: #969696;
}
.last-number{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #444E62;
}
.gmail{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #4BB4FF;
}
.last-text1{
    display: flex;
    justify-content: space-around;
}
.sc_kotta{
    display: flex;
}
.sc{
    margin-left: 5%;
}
.min_card2{

    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin: 20px 30px;
    border-radius: 8px;
    padding: 20px;
    
}
.min_card2 img{
    height: 10vh;
    object-fit: contain;
    border-radius: 5px;
}
.min_card2{
    width: 40vw;
    color: #444E62;
}
.min_card2 button{
    margin-left: 15%;
}
@media (max-width:900px) {
    .bigtext{
        margin: 0 auto;
    }   
    .bigphoto{
        margin: 0 auto;
    }
    .h5_one{
        font-size: 15px;

    }
    .modal4 {
        width: 90%;
    }
    .min_card2{
        width: 90%;
         font-size:75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
    }   
    .modal4{
        margin-left: 8%;
    }
  .circle{
    display: none;
  }
    .big_half{
    display: block;
  }  
  .sc_kotta{
    display: grid;
    grid-template-columns: auto ;
 
  }
  .backgraund_blue{
    display: block;
    height: 100%;
    width: 80%;
  }
  .bigacrd{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto ;
  }
  header{
    display: block;
  }
  .half_left{
    font-size: 3vw;
  }
  .half_right{
    display: grid;
    grid-template-columns: auto;
  }
  .min-half_right1{
    margin-left: 3%;
  }
}

@media (max-width:500px){
    .h5_text{
    font-size: 12px;
   
    }
    
    
    .circle{
        display: none;
      }
    .sc_kotta{
        display: grid;
        grid-template-columns: auto ;
      }
      .bigacrd{
        display: grid;
        grid-template-columns: auto ;

      }
      .big_half{
        display: block;
        grid-template-columns: auto;
      }  
      .half_left{
        font-size: 4vw;
        width: 50%;
        height: 50%;
    }
      .bigacrd{
        flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
       
      }
      .backgraund_blue{
        display: block;
        height: 85vh;
        width: 90%;
      }
      .img_fife_page{
       display: flex;
      }
      .h2-2four_page{
        font-size:30px ;
        width: 50%;
     
      }
      
      
      .min_card2{
        width: 80%;
      }
      .modal4{
        width: 60%;
      }
      .min_card2{
       height: 39vh;
        display: block;
      }
      .min_card2 img{
      
        margin-left: 20%;
      }
      

.d-flex{
    display: block;
}
      .p_one{
     
        font-size: 10px;
        width: 50%;
margin-top: 10%;
        
      }
      .p_three_page{
        width: 80%;
        font-size: 10px;
      }
    .h1_one{
        width: 75%;
        font-size:25px;
      
    }
    .bigimg{
        display: block;
    }
    .photo2{
        display: none;
    }
    #img_number{
        display: none;
    }
    #img_people{
        position: absolute;
        left: 6px;
    }
  .h3-fife_page{
   display: none;
   width: 20%;
      
    }
    .p-fife_page{
       font-size: 15px;
      width: 51%;
    }
    .in-btn{
        width: 90%;
        font-size: 25px;
    }
    .half_right{
        margin-top: 5%;
flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sc{
        margin-left: 35%;
    }
    .last-text1{
        font-size: 8px;
    }
.h1_text{
    font-size: 30px;
    width: 45%;
}
.h2_three_page{
    font-size: 30px;
}
.button11{
    display: block;
    margin-top: 15%;
}
.one_page{
    width: 90%;
    height: 70%;
}
}
@media (max-width:1000px){
    .last-text1{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

    }
    .min_card{
        
        width: 50vw;
    }
    .h1_one{
        width: 75%;
        font-size:30px;
      
    }
    .p_one{
     
        font-size: 15px;
        width: 50%;
margin-top: 10%;
        
      }
    .circle{
        display: none;
      }
    .big_half{
        display: block;
      }  
      .sc_kotta{
        display: grid;
        grid-template-columns: auto ;
     
      }
      .backgraund_blue{
        display: block;
        height: 85vh;
        width: 80%;
        margin-left: 3%;
      }
      .bigacrd{
        margin-left: 15%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto ;
      }
      header{
        display: block;
      }
      .half_left{
        font-size: 3vw;
      }
      .half_right{
        margin-top: 2%;
flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .min-half_right1{
        margin-left: 3%;
      }
      .one_page{
            width: 40%;
        display: block;
        margin-left: 25%;
      }
      .navbar-toggler{
       margin-right: 11%;
      }
}

@media (max-width:360px){
    .last-text1{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
    }
    .sc_kotta{
        display: grid;
        grid-template-columns: auto auto ;
      }
      .bigacrd{
        display: grid;
        grid-template-columns: auto ;

      }
      .big_half{
        display: block;
        grid-template-columns: auto;
      }  
      .half_left{
        font-size: 3vw;
        width:60%;

      }
      .bigacrd{
        flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
       margin-left: 45%;
      }
      .backgraund_blue{
        display: block;
        height: 30vh;
        width: 100vw;
      }
      .img_fife_page{
       display: flex;
      }
      .h2-2four_page{
        font-size:30px ;
        width: 90%;
      
      }
      .p_one{
     
        font-size: 13px;
        width: 70%;
        
      }
      .p_three_page{
        width: 90%;
        font-size: 10px;
      }
    .h1_one{
        
        font-size: 20px;
        
    }
    #img_number{
        display: none;
    }
    #img_people{
      display: none;
    }
  .h3-fife_page{
        width: 90%;
        font-size: 35px;
    }
    .p-fife_page{
        width: 90%;
        font-size: 25px;
    }
    .in-btn{
        width: 90%;
        font-size: 25px;
    }
    .half_right{
        margin-top: 2%;
flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
     margin-left: 25%;
    }
.button11{
    margin-top: 15%;
}
.navbar-toggler{
    margin-left: 15%;
    margin-right: o;
   }
   .sc{
  align-items: center;
    justify-content: center;
    margin-left: 45%;
   }
   .four_page{
    flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 25%;
   }
#one{
    width: 90%;
}
.btn-fife_page{
    display: none;
}
.min_card{
  width: 100vw;


}
.card_button{
   
    margin-left: 55%;
    margin-top: 11%;
    
}
.card_text{
text-align: center;
    width: 70%;
}
}